name: Welcome New Contributors

on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]
  discussion:
    types: [created]

permissions:
  issues: write
  pull-requests: write
  discussions: write

jobs:
  welcome-issue:
    if: github.event_name == 'issues'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: |
            Thanks for opening your first issue! We appreciate you taking the time to report this.

            A maintainer will review your issue soon. In the meantime:
            - Make sure you've provided all the requested information
            - Check the [documentation](https://jsers.dev/service/gitton) for potential solutions
            - Search [existing issues](https://github.com/gitton-dev/gitton/issues) for similar reports

          pr-message: |
            Thanks for your first pull request! We're excited to review your contribution.

            A maintainer will review your PR soon. Please make sure:
            - All checks pass
            - The PR description clearly explains the changes
            - You've tested your changes locally
